body {
	font-family: Arial;
	
	width: 60%;
}

h1 {
	Color: #CA0992;
	font-size: 50px;
	
}



h2 {
	color: pink; 
	font-size: 30px;
}
h3 {
	text-decoration: underline;
}

address {
	font-style: normal;
	text-align: right;
	
}
